body {
  background: #000;
  margin: 0;
}
#canvas {
  cursor: crosshair;
  display: block;
  position: sticky;
}
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}
strong {
  font-weight: 700;
  color: #f961af;
}
.container {
  height: 100vh;
  width: 100vw;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background-image: url(https://i.pinimg.com/originals/a6/bf/1c/a6bf1ca75ad990e12c886616b5adfa02.gif);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -moz-box-pack: center;
}
.container #wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url(http://static1.squarespace.com/static/5a530ae6aeb6254d768647a1/5a65465bec212d8a1b98014c/5a66e3d7f9619a21f783292c/1575608436298/Fireworks.gif?format=1500w);
  background-size: cover;
  background-position: center;
}
@media (max-width: 570px) {
  .container .wrapper {
    position: absolute;
    height: auto;
    top: 2em;
  }
  .container .wrapper section {
    font-size: 0.8em;
  }
}
input[name="switch"],
input[name="pure-nav"] {
  display: none;
}
.navigation {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #000;
  color: #fff;
}
.navigation .start {
  cursor: pointer;
  order: -2;
  -moz-order: -2;
  -webkit-order: -2;
  padding: 1.95em 1.2em;
}
@media (max-width: 570px) {
  .navigation .start {
    position: absolute;
    z-index: 10;
    right: 3.4em;
    top: 0;
  }
}
#wish {
  color: lime;
  font-size: 45px;
  position: absolute;
  top: 50px;
  left: 0;
}
#wish img {
  width: 50%;
}
#id2020 {
  color: lime;
  font-size: 45px;
}
#whatsapp {
  position: fixed;
  bottom: 50px;
  font-size: 40px;
  padding: 20px 50px;
  text-align: left;
  width: calc(100% - 100px);
}
#whatsapp input {
  padding: 10px;
  font-size: 40px;
  width: 100%;
}
.whatsapp-label {
  margin-bottom: 10px;
}
#whatsapp-desc {
  width: 100%;
  height: 150px;
  margin-top: 10px;
  padding: 10px;
  font-size: 40px;
  margin-bottom: 20px;
}
#from {
  margin-top: 20px;
  text-transform: capitalize;
  color: #ffbcd0;
  text-align: right;
  padding-right: 100px;
  font-weight: 700;
  font-family: cursive;
  font-size: 55px;
}
#message {
  color: lime;
  font-size: 50px;
  margin-top: 50px;
  padding: 0px 100px;
  text-align: justify;
  font-family: cursive;
  line-height: 2;
}
.time {
  font-size: 70px;
  color: #fca8bb;
}
.whatsapp-label {
  color: lime;
}
.blur {
  z-index: 0;
  background-color: black;
  width: 100vw;
  height: 100vh;
  opacity: 0.4;
}
#whatsapp-link {
  color: lime;
  border: 1px solid;
  padding: 10px 25px;
  background-color: red;
  border-radius: 10px;
}
